@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */

.navbar, footer, .intro {
  background-color: #1f2937;
  color: #f9faf8;
}

.navbar .container{
  height: 60px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links a{
  text-decoration: none;
  color: #fff;
}

/* INTO  */

.intro .container{
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo {
  max-width: 500px;
}

.promo h1 {
  font-size: 48px;
}

.promo p {
  font-size: 18px;
  color: #e5e7eb;
}

.signup {
  color: #e5e7eb;
  background-color: #3882f6;
  border: 0;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
}

.intro img {
  border: 3px solid #3882f6;
  border-radius: 10px;
}