@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */

.navbar, footer, .intro {
  background-color: #1f2937;
  color: #f9faf8;
}

.navbar .container{
  height: 60px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links a{
  text-decoration: none;
  color: #fff;
}

/* INTO  */

.intro .container{
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo {
  max-width: 500px;
}

.promo h1 {
  font-size: 48px;
}

.promo p {
  font-size: 18px;
  color: #e5e7eb;
}

.signup {
  color: #e5e7eb;
  background-color: #3882f6;
  border: 0;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
}

.intro img {
  border: 3px solid #3882f6;
  border-radius: 10px;
}

/* INFO */

.info .container {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.info h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  flex: 0 0 150px;
  text-align: center;
  color:#1f2937;
}

.box img {
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.box p {
  margin-top: 10px;
}

/* TESTIMONIAL */

.testimonial {
  background-color: #e5e7eb;
}

.testimonial .container {
  min-height: 400px;
  max-width: 760px;
}

.testimonial figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.testimonial p {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.testimonial figcaption {
  align-self: flex-end;
  color: #1f2937;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 30px;
}

/* SIGNUP */

#signup .container {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-box {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 50px 120px;
  border-radius: 10px;
}

.signup-inverted {
  font-weight: bold;
  font-size: 18px;
  background: #3882f6;
  color: #e5e7eb;
  border: 2px solid #e5e7eb;
  padding: 10px 30px;
  border-radius: 5px;
}